# What version of Java are the source files in this repo?
# See https://bazel.build/docs/user-manual#java-language-version
common --java_language_version=21

# The Java language version used to build tools that are executed during a build
# See https://bazel.build/docs/user-manual#tool-java-language-version
common --tool_java_language_version=21

# The version of JVM to use to execute the code and run the tests.
# NB: The default value is local_jdk which is non-hermetic.
# See https://bazel.build/docs/user-manual#java-runtime-version
common --java_runtime_version=remotejdk_21

# The version of JVM used to execute tools that are needed during a build.
# See https://bazel.build/docs/user-manual#tool-java-runtime-version
common --tool_java_runtime_version=remotejdk_21

build --cxxopt='-std=c++23'

build --@rules_rust//rust/settings:rustfmt.toml=//:.rustfmt.toml

# Enable linting on build or test commands
build:lint --aspects=//tools/lint:linters.bzl%bandit
build:lint --aspects=//tools/lint:linters.bzl%buildifier
build:lint --aspects=//tools/lint:linters.bzl%clang_tidy
build:lint --aspects=//tools/lint:linters.bzl%pydoclint
build:lint --aspects=//tools/lint:linters.bzl%ruff
build:lint --aspects=//tools/lint:linters.bzl%ty
build:lint --aspects=//tools/lint:linters.bzl%yamllint
build:lint --output_groups=rules_lint_human

build:lint --@aspect_rules_lint//lint:fail_on_violation
