---
default_language_version:
  ruby: 3.1.2

repos                   :
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/keith/pre-commit-buildifier
  rev: 8.2.1
  hooks:
  - id: buildifier
    args: &args
    - --warnings=all
  - id: buildifier-lint
    args: *args

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    args:
    - --format
    - parsable
    - --strict

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args:
    - --mapping
    - '2'
    - --sequence
    - '2'
    - --offset
    - '0'
    - --colons

- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
    args:
    - --profile
    - black
    - --filter-files

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.46.0
  hooks:
  - id: markdownlint

- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-rc.4
  hooks:
  - id: golangci-lint-mod
